.navbar{
    background-color: #acce8f;
}
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 5%;
    background-color: #E4E1D8;
}
.parent {
    /* height: 0px; */
    display: inline-flex;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* justify-content: flex-end; */
    }


#container{
    /* min-height: 100%; */
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #acce8f;
}

#main{
    overflow: auto;
    padding-bottom: 0px;
}



.d-flex{
     display: flex;
    align-items: center;
    justify-content: center;
   
}
.btn-md{
    background-color: #acce8f;
    font-family: 'Tourney','cursive';
    border: #c9c;
    border-style: double;
    
}
.btn-md:hover{
    background-color: #c9c;
    border: #acce8f;
    border-style: double;
    border-width: 5px;

}

.btn-lg{
    background-color: #acce8f;
    font-family: 'Tourney','cursive';
    border: #c9c;
    border-style: double;
    
}
.btn-lg:hover{
    background-color: #c9c;
    border: #acce8f;
    border-style: double;
    border-width: 5px;
}

.container1 {
    position: relative;
    width: 50%;
    float: left;
  }

 
  
.container2 {
    position: relative;
    width: 50%;
    float: right;
    
  }
  
.container3 {
    position: relative;
    width: 50%;
    float: left;
  }
  
.container4 {
    position: relative;
    width: 100%;
    object-fit: 100%;
  }
  .container5 {
    position: relative;
  width: 100%;
    float: right;
  }
 .container6{
  width: 100%;
  position: relative;
  /* float: right; */

 }
#superPet{
  width: 1000px;
  height: 750px;
}
  
  .container img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
  .container .btn-lg {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -50%);
    background-color: #acce8f;
    color: black;
    font-size: 20px;
    padding: 12px 24px;
    border-style: double;
    cursor: pointer;
    border-color: #c9c;
    font-family: 'Tourney', 'cursive';
  };
  
  .container .btn-lg:hover{
    background-color: #c9c;
    border: #acce8f;
    border-style: double;
    border-width: 10px;
  }

  a{
      font-family: 'Faster One', 'cursive';
      font-size: 25px;
  }
  .ul{
      font-family: 'Tourney', 'cursive';
  }

  h1{
    font-family: 'Tourney', 'cursive';
      text-align: center;
  }

  p{
      font-family: 'Tourney', 'cursive';
      font-size: 20px;
      text-align:start;
      line-height: 50px;
      border: 5px;
  }

  span{
    font-family: 'Tourney', 'cursive';
    float: inline-start;
    font-size: 19px;
  }

  article{
    font-family: 'Tourney', 'cursive';
    float: inline-start;
    font-size: 19px;
  }

  h3{
    font-family: 'Tourney', 'cursive';
      text-align: center;
  }
h5{
  font-family: 'Tourney', 'cursive';
  font-size: 18px;
}
h2{
  font-family: 'Tourney', 'cursive';
  font-size: 25px;
  font-weight: 50;
}
  #map {
    height: 400px;
    width: 100%;
  
  }

 
input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 5px solid #acce8f; 
  border-radius: 25px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical ;
  font-family: 'Tourney', 'cursive';

}

input[type=text], select, label{
  font-family: 'Tourney', 'cursive';
}

input[type=submit] {
  background-color: #acce8f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Tourney', 'cursive';
}


input[type=submit]:hover {
  background-color: #c9c;
}


.containerx {
  border-radius: 5px;
  padding: 10px;

}

  #market{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.card{
  cursor: pointer;
  display: flex;
  background-color: #c9c;
  flex-direction: grid;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  max-height: 150px;
  border-radius: 1rem;
  margin: 1.5rem;
  transition: 0.3s;
 
}
.card:hover{
  transform: scale(1.1);
  
}
.cardText *{
  text-align: center;
  margin: 0.5rem;
   
}

.priceText{
  font-weight: 400;
  opacity: 0.7;
}

.descriptionText{
  font-size: small;
}


@media (max-width: 991px){
  
}